<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Detalhes</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <section id="detalhes">
        <article>
          <img height="100%" src="<%= detalhesPerson.imagem %> " alt="" />
          <table id="infoDetalhes">
            <thead>
              <th><%= detalhesPerson.nome %></th>
            </thead>
            <tbody>
              <tr>
                <td>Espécie:</td>
              </tr>
              <tr>
                <td class="info"><%= detalhesPerson.especie %></td>
              </tr>
              <tr>
                <td>Habilidades:</td>
              </tr>
              <tr>
                <td class="info"><%= detalhesPerson.habilidades %></td>
              </tr>
              <tr>
                <td>Personalidade:</td>
              </tr>
              <tr>
                <td class="info"><%= detalhesPerson.personalidade %></td>
              </tr>
            </tbody>
          </table>
        </article>
      </section>
      <div id="delEdit">
        <a href="/deletar/<%= detalhesPerson.id %> ">
          <i class="fa-duotone fa-trash-xmark">Deletar</i>
        </a>
        <a href="/editar/<%= detalhesPerson.id %> ">
          <i class="fa-duotone fa-file-pen">Editar</i>
        </a>
      </div>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
