<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Home</title>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <section id="conteiners">
        <% listPersonagens.forEach(element => { %>
          <article class="cardsHome">
            <div class="nomeHome"><%= element.nome %></div>
            <div class="imagemHome">
              <a href="/detalhes/<%= element.id %> ">
              <img height="300px" src="<%= element.imagem %> " alt="<%= element.nome %> " />
            </a>
            </div>
            <div class="especieHome"><%= element.especie %> 
            </article>
              <% }) %></div>
      </section>
    </main>
    <%- include('./partials/footer.ejs') %>
  </body>
</html>
